.App {
  display: flex;
  text-align: center;
  background-color: #282c34;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-header {
  text-align: center;
}

.cards{
  display: flex;
  margin: .5rem;
  padding: 1rem;
  align-items: center;  
  justify-content: space-evenly;
}

